SUPABASE_URL=https://ayczcnoxgaljkyiljill.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY_HERE
NOLIO_EMAIL=YOUR_NOLIO_EMAIL
NOLIO_PASSWORD=YOUR_NOLIO_PASSWORD
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
